/* Applies to body */
.body-style {
  background-color: rgb(250, 202, 202);
}

#drum-machine {
  padding: 1em;
}

/* Media queries for responsive styling */
@media (max-width: 479px) {
  #drum-machine {
    padding: .5em;
  }
}