:root {
  /* --max-pad-width: 20vh; */
  /* calculated approximate pad height limit */
  /* # of em is approximate height of all other elemenets */
  /* divide by number of rows of pads */
  --max-pad-width: calc((100vh - 20em)/3);
}

#display {
  /* background-color: rgb(188, 229, 248); */
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  padding: 1.5em;
  /* margin: 5vh 15vw auto 15vw; */
  /* max-height: 75vh; */
  /* max-width: 40vw; */

  /* Centerying div */
  margin-left: auto;
  margin-right: auto;

  /* make container no bigger than content */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;  
}

#display-grid {
   /* css grid */
   display: grid;
   grid-template-columns: repeat(3, minmax(0, var(--max-pad-width)));
   justify-content: center;
}

/* to maintain pad aspect ratios */
#display-grid > [style^='--aspect-ratio']::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

#pad-played {
  /* css grid */
  grid-row: 1;
  grid-column: 1 / 4;

  margin: .25em;
  background-color: rgb(47, 125, 228);
  border: .25em solid black;
  border-radius: .25em;

  /* text modifications */
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  color: rgb(224, 224, 224);
}

#clipName {
  text-align: center;
}

/* Media queries for responsive styling */
@media (max-width: 767px) {
  #display {
    padding: .75em;
  }
}

@media (max-width: 479px) {
  #display {
    padding: .5em;
  }
}